
h1 { 
  color:#a64dff;
  font-size: 79px;
}
h2{color:#a119dd;
font-size: 40px;
padding-left:161px}
p{color:#800060}
p{font-size: px}
h1{
  padding-left:215px}
img {
  display: block;
  height: 450px;
  base: 502px
}
body{
  background-color: #f9ecf2}
p1{font-size: 25px}
h6{
  font-size: 25px
}
p2{
  color:#013238;
  font-size:20px
}
.pics{
  display: flex;  
}
.shirt{
  display: flex;
}
.what r those{
  display: flex;
}